{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
  $(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    socket.on('build', function(msg) {
      $("#log").append(msg.data);
      $("#log").scrollTop( 300 );
    });
    socket.on('system', function(msg) {
      console.log('System: ' + msg.data);
    });

    var progressbar = $("#progressbar"),
        bar         = progressbar.find('.uk-progress-bar'),
        log         = $("#log"),
        details     = $("#details"),
        settings    = {

          action: '/bresenham', // upload url
          allow : '*.(cpp)', // allow only images

          loadstart: function() {
            bar.css("width", "0%").text("0%");
            progressbar.removeClass("uk-hidden");

            $("#solution").attr("src", "")
            $("#image").attr("src", "")
            $("#diff").attr("src", "")

            log.empty();
            log.removeClass("uk-hidden");

            details.addClass("uk-hidden");
            progressbar.removeClass("uk-progress-danger");
            progressbar.removeClass("uk-progress-success");
          },

          progress: function(percent) {
            percent = Math.ceil(percent);
            bar.css("width", percent+"%").text(percent+"%");
          },

          allcomplete: function(response) {
            bar.css("width", "100%").text("100%");
            obj = JSON.parse(response);
            console.log(obj);
            if(obj.success == 0) {
              $("#solution").attr("src", "static/bresenham/solutions/rays.png")
              $("#image").attr("src", "static/bresenham/results/"+obj.id+"/rays.png")
              $("#diff").attr("src", "static/bresenham/results/"+obj.id+"/diff-rays.png")

              details.removeClass("uk-hidden");
              progressbar.addClass("uk-progress-success");
            } else {
              details.addClass("uk-hidden");
              progressbar.addClass("uk-progress-danger");
            }
          }
        };

    var select = new $.UIkit.upload.select($("#upload-select"), settings),
        drop   = new $.UIkit.upload.drop($("#upload-drop"), settings);
  });
</script>

<h1>Bresenham</h1>
<div id="upload-drop" class="uk-placeholder uk-text-center">
    <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> Attach source file by dropping them here or <a class="uk-form-file">selecting one <input id="upload-select" type="file"></a>.
</div>

<div id="progressbar" class="uk-progress uk-hidden">
  <div class="uk-progress-bar" style="width: 0%;">0%</div>
</div>

<div id="details" class="uk-grid uk-hidden">
  <div class="uk-width-large-1-3 uk-text-center">
    <h2>Original</h2>
    <img id="solution" src="" style="max-width:100%">
  </div>
  <div class="uk-width-large-1-3 uk-text-center">
    <h2>Generated</h2>
    <img id="image" src="" style="max-width:100%">
  </div>
  <div class="uk-width-large-1-3 uk-text-center">
    <h2>Diff</h2>
    <img id="diff" src="" style="max-width:100%">
  </div>
</div>

<pre id="log" class="uk-alert uk-hidden">
</pre>
{% endblock %}