{% extends "layout.html" %}
{% block script %}
<script type=text/javascript>
  $(function() {
    var progressbar = $("#progressbar"),
        bar         = progressbar.find('.uk-progress-bar'),
        log         = $("#log"),
        details     = $("#details"),
        settings    = {

          action: '/zbuffer', // upload url
          allow : '*.(cpp)', // allow only images

          loadstart: function() {
            bar.css("width", "0%").text("0%");
            progressbar.removeClass("uk-hidden");

            $("#solution").attr("src", "")
            $("#image").attr("src", "")
            $("#diff").attr("src", "")

            log.empty();
            log.removeClass("uk-hidden");

            details.addClass("uk-hidden");
            progressbar.removeClass("uk-progress-danger");
            progressbar.removeClass("uk-progress-success");
          },

          progress: function(percent) {
            percent = Math.ceil(percent);
            bar.css("width", percent+"%").text(percent+"%");
          },

          allcomplete: function(response) {
            obj = JSON.parse(response);
            bar.css("width", "100%").text("ID: "+obj.id);

            if (obj.error == 0) {
              $("#solution").attr("src", "static/img/solutions/zbuffer.png");
              $("#image").attr("src", "static/gen/zbuffer/results/"+obj.id+"/rand.png");
              $("#diff").attr("src", "static/gen/zbuffer/results/"+obj.id+"/diff-rand.png");

              details.removeClass("uk-hidden");
              progressbar.addClass("uk-progress-success");
            } else {
              details.addClass("uk-hidden");
              progressbar.addClass("uk-progress-danger");
            }
          }
        };

    var select = new $.UIkit.upload.select($("#upload-select"), settings),
        drop   = new $.UIkit.upload.drop($("#upload-drop"), settings);
  });
</script>
{% endblock %}

{% block title %}z-Buffer{% endblock %}
